RAG_OPENAI_API_KEY=replace_with_your_openai_key
JWT_SECRET=replace_with_a_long_random_secret

VECTOR_DB_TYPE=atlas-mongo
ATLAS_MONGO_DB_URI=mongodb+srv://<user>:<password>@<cluster-host>/hemanth_rag?appName=<app-name>
ATLAS_SEARCH_INDEX=vector_index

COLLECTION_NAME=hemanth_rag_collection
EMBEDDING_BATCH_SIZE=500
