RAG_OPENAI_API_KEY=replace_with_your_openai_key
JWT_SECRET=replace_with_a_long_random_secret

VECTOR_DB_TYPE=pgvector
POSTGRES_DB=hemanth_rag
POSTGRES_USER=hemanth_rag_user
POSTGRES_PASSWORD=replace_with_your_database_password
DB_HOST=db
DB_PORT=5432

COLLECTION_NAME=hemanth_rag_collection
EMBEDDING_BATCH_SIZE=500
